:host {
    display: block;
}

.slds-p-around_small {
    padding: 0.5rem;
}

.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lightning-input {
    width: 100%;
}