.maindiv {
    /* margin: auto; */
    max-width: 100%;
    /* transform: translateY(12%); */
    background-color: #fff;
    margin-left: 2%;
    padding: 12px;
}
.buttonNext,.buttonPrev{
    position: relative;
    cursor: pointer;
    background: #003a70;
    border: 2px solid #003a70;
    color: #fff;
    font-weight: 600;
    height: 33px;
    width: 120px;
    /* border-radius: 20px; */
    user-select: none;
    border-radius: 4px;
    outline: none;
}
.horizontalAlign {
    display: flex;
    /* margin: 2% auto; */
    max-width: 98%;
    justify-content: space-between;
}
.loading {
    background-color: transparent;
    border: 4px solid #ABA8AF;
    border-top-color: #003a70;
    user-select: none;
    font-size: 0;
    outline: none;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    animation: rotate 0.4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}