.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    /* Asegura que el contenedor ocupe todo el ancho */
}

.search-container lightning-input {
    flex: 1;
    /* Hace que el input ocupe todo el espacio disponible */
}

.search-button {
    white-space: nowrap;
    /* Evita que el botón cambie de tamaño */
}

.autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    background: white;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.autocomplete-item:hover {
    background: rgb(231, 243, 255);
}